body {
  background-color: #fff;
  box-sizing: border-box;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin-top: 60px;
}
